<template>
  <div>
    <b-button
      variant="primary"
      class="float-right"
      @click="addNewCustomer"
      v-b-modal.modal-form-customer
      >Add Customer</b-button
    >

    <b-modal
      id="modal-form-customer"
      ref="modal-form-customer"
      size="lg"
      :title="title"
      ok-title="Confirm"
      ok-variant="success"
      cancel-title="Cancel"
      cancel-variant="danger"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-container class="bv-example-row">
          <b-row>
            <b-col cols="12">
              <b-form-group id="name" label="Name" label-for="name">
                <b-form-input
                  id="name"
                  v-model="form.name"
                  placeholder="Enter name"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12">
              <b-form-group id="address" label="Address" label-for="address">
                <b-form-input
                  id="address"
                  v-model="form.address"
                  placeholder="Enter address"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group id="dob" label="Date of Birth" label-for="dob">
                <b-form-input
                  id="dob"
                  type="date"
                  v-model="form.dob"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="6">
              <b-form-group id="gender" label="Gender" label-for="gender">
                <b-form-select
                  id="gender"
                  v-model="form.gender"
                  :options="genderOptions"
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col cols="12">
              <b-form-group
                id="mobile"
                label="Mobile Number"
                label-for="mobile"
              >
                <b-form-input
                  id="mobile"
                  v-model="form.mobile"
                  placeholder="Enter mobile number"
                ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col cols="12">
              <b-form-group id="email" label="Email" label-for="email">
                <b-form-input
                  id="email"
                  type="email"
                  v-model="form.email"
                  placeholder="Enter email"
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table
      striped
      hover
      :items="this.$store.getters.customerList"
      :fields="fields"
    >
      <template v-slot:cell(operation)="data">
        <b-button
          @click="editCustomer(data.item)"
          variant="warning"
          style="color: white; background-color: orange"
          >Edit</b-button
        >
        &nbsp;
        <b-button @click="delCustomer(data.item)" variant="danger"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      form: {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      },
      genderOptions: [
        { text: 'Select One', value: '' },
        { value: 'Male', text: 'Male' },
        { value: 'Female', text: 'Female' }
      ],
      fields: [
        '_id',
        'name',
        'address',
        'dob',
        'gender',
        'mobile',
        'email',
        'operation'
      ]
    }
  },
  methods: {
    addNewCustomer () {
      console.log('Add new customer')
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-customer')
    },
    editCustomer (customer) {
      console.log('Edit')
      console.log(customer)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...customer }
      this.$bvModal.show('modal-form-customer')
    },
    delCustomer (customer) {
      console.log('Del')
      console.log(customer)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + customer.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          okTitle: 'Confirm',
          okVariant: 'success',
          cancelTitle: 'Cancel',
          cancelVariant: 'danger',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.$store.dispatch('delCustomer', customer)
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        address: '',
        dob: '',
        gender: '',
        mobile: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.form._id !== '') {
        this.$store.dispatch('editCustomer', this.form)
      } else {
        delete this.form._id
        this.$store.dispatch('addNewCustomer', this.form)
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-customer')
      })
    }
  },
  mounted () {
    this.$store.dispatch('loadCustomerList')
  }
}
</script>
