<template>
  <div>
    <!-- ====================== Register Modal ====================== -->
    <b-modal
      id="modal-form-register"
      ref="modal-form-register"
      :title="title"
      @hidden="registerResetModal"
      @ok="resgisterSubmit"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Username" label-for="registerUsername">
              <b-form-input
                id="registerUsername"
                v-model="registerForm.username"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Email" label-for="registerEmail">
              <b-form-input
                id="registerEmail"
                type="email"
                v-model="registerForm.email"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Password" label-for="registerPassword">
              <b-form-input
                id="registerPassword"
                type="password"
                v-model="registerForm.password"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
      </div>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ registerForm }}</pre>
      </b-card>
    </b-modal>
    <!-- ====================== Register Modal ====================== -->

    <!-- ====================== Login Form ====================== -->
    <b-form id="loginForm" @submit="loginSubmit" @reset="loginFormReset">
      <b-form-group label="Username" label-for="username">
        <b-form-input
          id="username"
          v-model="loginForm.username"
          required
          placeholder="Enter username"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Password" label-for="password">
        <b-form-input
          id="password"
          type="password"
          v-model="loginForm.password"
          required
          placeholder="Enter password"
        ></b-form-input>
      </b-form-group>

      <b-button type="reset" variant="danger">Clear</b-button>
      &nbsp;
      <b-button type="submit" variant="success">Login</b-button>
    </b-form>
    <br />
    <b-link
      @click="
        register()
        loginFormReset()
      "
      >Register Now</b-link
    >
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ loginForm }}</pre>
    </b-card>
  </div>
  <!-- ====================== Login Form ====================== -->
</template>

<script>
export default {
  data () {
    return {
      title: '',
      loginForm: {
        username: '',
        password: ''
      },
      registerForm: {
        username: '',
        email: '',
        password: ''
      }
    }
  },
  methods: {
    // ================= Login =================
    loginFormReset () {
      this.loginForm.username = ''
      this.loginForm.password = ''
    },
    loginSubmit (evt) {
      evt.preventDefault()
      this.login()
    },
    login () {
      this.$store.dispatch('login', this.loginForm)
      this.loginFormReset()
    },
    // ================= Login =================

    // ================= Register =================
    register () {
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-register')
    },
    registerResetModal () {
      this.registerForm = {
        username: '',
        email: '',
        password: ''
      }
    },
    resgisterSubmit (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      this.$store.dispatch('addNewUser', this.registerForm)
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-register')
      })
    }
    // ================= Register =================
  }
}
</script>
