<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewProduct"
      v-b-modal.modal-form-product
      >Add New</b-button
    >

    <b-modal
      id="modal-form-product"
      ref="modal-form-product"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-container class="bv-example-row">
          <b-row>
            <b-col cols="6">
              <b-form-group
                label="Name"
                label-for="name"
                :invalid-feedback="invalidFeedbackName"
                :valid-feedback="validFeedbackName"
                :state="stateName"
              >
                <b-form-input
                  id="name"
                  v-model="form.name"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="6">
              <b-form-group
                label="price"
                label-for="price"
                :invalid-feedback="invalidFeedbackPrice"
                :valid-feedback="validFeedbackPrice"
                :state="statePrice"
              >
                <b-form-input
                  id="Price"
                  v-model="form.price"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>

            <b-col cols="6">
              <b-form-group
                label="Cost"
                label-for="cost"
                :invalid-feedback="invalidFeedbackCost"
                :valid-feedback="validFeedbackCost"
                :state="stateCost"
              >
                <b-form-input
                  id="Cost"
                  v-model="form.cost"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-container>
      </form>

      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table
      striped
      hover
      :items="this.$store.getters.productList"
      :fields="fields"
    >
      <template v-slot:cell(operation)="data">
        <b-button @click="editProducts(data.item)">Edit</b-button>
        &nbsp;
        <b-button @click="delProducts(data.item)" variant="danger"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      form: {
        _id: '',
        name: '',
        price: '',
        cost: ''
      },
      productList: [],
      fields: ['_id', 'name', 'price', 'cost', 'operation']
    }
  },
  methods: {
    editProducts (product) {
      console.log('Edit')
      console.log(this.productList)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...product }
      this.$bvModal.show('modal-form-product')
    },
    delProducts (product) {
      console.log('Del')
      console.log(product)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + product.name + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.$store.dispatch('delProduct', product)
          }
        })
    },
    addNewProduct () {
      console.log('Add new Product')
      this.title = 'เพิ่มสินค้าใหม่'
      this.$bvModal.show('model-form-product')
    },
    resetModal () {
      this.form = {
        _id: '',
        name: '',
        price: null,
        cost: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.form._id !== '') {
        this.$store.dispatch('editProduct', this.form)
      } else {
        delete this.form._id
        this.$store.dispatch('addNewProduct', this.form)
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-product')
      })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อสินค้า'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    statePrice () {
      return this.form.price >= 1
    },
    invalidFeedbackPrice () {
      if (this.form.price >= 0) {
        return ''
      } else {
        return 'กรุณาใส่ตัวเลขให้ถูกต้อง'
      }
    },
    validFeedbackPrice () {
      return this.statePrice === true ? 'สำเร็จ' : ''
    },
    stateCost () {
      return this.form.cost >= 1
    },
    invalidFeedbackCost () {
      if (this.form.cost >= 0) {
        return ''
      } else {
        return 'กรุณาใส่ตัวเลขให้ถูกต้อง'
      }
    },
    validFeedbackCost () {
      return this.stateCost === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.$store.dispatch('loadProductList')
  }
}
</script>
