<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add Users</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <div class="form-row">
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Username" label-for="username">
              <b-form-input
                id="username"
                v-model="form.username"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Email" label-for="email">
              <b-form-input
                id="email"
                type="email"
                v-model="form.email"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
        <div class="form-group col-md-6">
          <form ref="form" @submit.stop.prevent="handleSubmit">
            <b-form-group label="Password" label-for="password">
              <b-form-input
                id="password"
                type="password"
                v-model="form.password"
                required
              ></b-form-input>
            </b-form-group>
          </form>
        </div>
      </div>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table
      striped
      hover
      :items="this.$store.getters.userList"
      :fields="fields"
    >
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      form: {
        _id: '',
        username: '',
        email: '',
        password: ''
      },
      fields: ['_id', 'username', 'email', 'password', 'operation']
    }
  },
  methods: {
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.username + ' หรือไม่!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.$store.dispatch('delUser', user)
          }
        })
    },
    addNewUser () {
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-user')
    },
    resetModal () {
      this.form = {
        _id: '',
        username: '',
        email: '',
        password: ''
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit () {
      if (this.form._id !== '') {
        this.$store.dispatch('editUser', this.form)
      } else {
        delete this.form._id
        this.$store.dispatch('addNewUser', this.form)
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    }
  },
  mounted () {
    this.$store.dispatch('loadUserList')
  }
}
</script>
