<template>
  <b-button-group vertical>
    <b-button
      variant="dark"
      class="pt-2"
      to="/login"
      v-if="this.$store.getters.isLogin === true"
      @click="logout"
      >LOGOUT</b-button
    >
    <b-button
      variant="dark"
      class="mt-2"
      to="/"
      v-if="this.$store.getters.isLogin === true"
      >HOME</b-button
    >

    <b-button
      variant="dark"
      class="mt-2"
      to="/login"
      v-if="this.$store.getters.isLogin === false"
      >LOGIN</b-button
    >
    <b-button
      variant="dark"
      class="mt-2"
      to="/products"
      v-if="this.$store.getters.isLogin === true"
      >PRODUCT</b-button
    >
    <b-button
      variant="dark"
      class="mt-2"
      to="/customers"
      v-if="this.$store.getters.isLogin === true"
      >CUSTOMER</b-button
    >
    <b-button
      variant="dark"
      class="mt-2"
      to="/users"
      v-if="this.$store.getters.isLogin === true"
      >USER</b-button
    >
  </b-button-group>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$store.dispatch('logout')
      this.$router.push('/login')
    }
  }
}
</script>
