<template>
  <div id="app">
    <MainLayout></MainLayout>
  </div>
</template>

<script>
import MainLayout from './components/MainLayout.vue'

export default {
  components: {
    MainLayout
  },
  created () {
    const user = JSON.parse(localStorage.getItem('user'))
    this.$store.dispatch('checkLogin', user)
    console.log('user\n' + user)
  }
}
</script>
